 body{
            background-color: #F08080;
            font-family: "Times New Roman";

        }
        h1{
            color: black;
        }
        .styled-button{
            background-color: gray;
            border: none;
            text-decoration: none;
            cursor: pointer;
        }
        .styled-button:hover{
            background-color: blue;
        }